body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: linear-gradient(-45deg, #1d2b3a, #3a4b5c, #1d2b3a, #2a3b4c);
    background-size: 400% 400%;
    animation: gradient-flow 15s ease infinite;

    perspective: 32em;
    perspective-origin: calc(50% + 10rem) calc(50% - 10rem);
}


@keyframes gradient-flow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.toggle-input {
    position: absolute;
    left: -100vw;
}

.toggle-model {
    --s: 0;
    position: relative;
    width: 10rem;
    height: 5rem;
    border-radius: 5rem;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: rotateX(90deg) rotate(22.5deg) rotateY(22.5deg);
    
    border: solid 0.625rem #f8f8f8;
    box-shadow: 
        0.5rem 0.875rem 0 -0.25rem #d0d0d0,
        0.625rem 0.625rem 0 -0.25rem #d0d0d0,
        0.5rem 0.875rem 0.625rem -0.125rem rgba(0, 0, 0, 0.35),
        
        inset 0.125rem -0.125rem 0.5rem rgba(255, 255, 255, 0.5),
        inset 0.75rem 0.75rem #e0e0e0,
        inset 0.75rem 0.75rem 0.75rem rgba(191, 191, 191, 0.85), 
        inset 0 1rem 0.75rem rgba(191, 191, 191, 0.65);
    -webkit-tap-highlight-color: transparent;
}

.toggle-model::before {
    content: "";
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    top: calc(50% + .875rem);
    transform-origin: 100% 0;
    transform: translate(calc(var(--s) * (100% + 1rem))) scale(0.8) skewX(-22.5deg);
    
    background: radial-gradient(at 50% 25%, rgba(0, 0, 0, 0.25), transparent 70%);
    filter: blur(3px);
    transition: transform 0.35s cubic-bezier(0.21, 0.61, 0.35, 1);
}

.toggle-model::after {
    content: "";
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    top: 0.875rem;
    left: 0.75rem;

    transform: 
        translate(calc(var(--s) * (100% + 1rem))) 
        rotateY(-22.5deg) 
        rotate(-22.5deg) 
        rotateX(-90deg) 
        translateY(-50%) 
        rotate(45deg);
    
    background:
        radial-gradient(circle at 30% 20%, #ffffff 0%, rgba(255,255,255,0.5) 50%, transparent 100%) no-repeat,
        radial-gradient(circle at 15% 50%, hsl(40, 100%, 70%, 0.7) 0%, transparent 60%) no-repeat,
        radial-gradient(circle at 85% 50%, hsl(40, 100%, 70%, 0.5) 0%, transparent 60%) no-repeat,
        radial-gradient(ellipse at 50% 90%, hsl(40, 100%, 70%, 0.6) 0%, transparent 70%) no-repeat,
        
        radial-gradient(circle at 50% 50%, 
            rgba(255, 255, 255, 0.2) 0%,
            rgba(200, 200, 200, 0.2) 50%,
            rgba(150, 150, 150, 0.3) 100%
        );

    transition: 
        transform 0.35s cubic-bezier(0.21, 0.61, 0.35, 1),
        filter 0.35s ease;


    filter: hue-rotate(calc(var(--s) * 160deg));
}

.toggle-input:checked + .toggle-model {
    --s: 1;
}